/* h{
    color: orange;
    margin: 20px;
    padding: 20px;
}
p{
    color: aqua;
    columns: 3;
    column-gap: 60px;
}
ul{
    color: blue;
    border-style: dashed;
    border-color: crimson;
    border: 4px solid crimson;
}
li{
    text-shadow: 2px 2px #e9e9e9;
}

span{
    margin: 20px;
} */
/* 
div .sleep{
    color: purple;
} */
/* a[href="https://www.google.com"]{
    background-color: greenyellow;
    text-decoration: none;
a[href="https://www.facebook.com"]{
    background-color: red;
    text-decoration: none;
 } */
body, ul, li, h1,h2, a{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    background-color: #f63232;
    padding: 20px;
    text-align: center;
    position: fixed;
    width: 100%;
    z-index: 1;
    top: 0;
    left: 0;
}
header h1{
    color: white;
    border: 8px solid white;
    padding: 6px 12px;
    display: inline-block;
    border-radius: 35px;
}
 banner{
    position: relative;
}
.banner img{
    max-width: 100%;
}
.banner .welcome{
    background-color: rgb(202, 139, 20);
    color: white;
    padding: 30px;
    position: absolute;
    left: 0;
    top: 30%;
}
.banner h2{
    font-size: 74px;
}
.banner h2 span{
    font-size: 1.3em;
}
nav{
    background-color: #f4f4f4;
    padding: 20px;
    position: sticky;
    top: 100px;
}
nav ul{
    white-space: nowrap;
    max-width: 1200px;
    margin: 0 auto;
}
nav li{
    width: 25%;
    display: inline-block;
    font-size: 24px;
}
nav li a{
    text-decoration: none;
    color: #4b4b4b; 
}
nav li a.join{
    color: #f63232;
}
main{
    max-width: 100%;
    width: 1200px;
    margin: 80px auto;
    padding: 0 40px;
    box-sizing: border-box;
}
article h2{
    color: #f63232;
    font-size: 48px;
}
article p{
    line-height: 2em;
    color: #4b4b4b;
}
.images{
    text-align: center;
    margin: 80px 0;
    white-space: nowrap;
}
.images li{
    display: inline-block;
    width: 40%;
    margin: 20px 5%;
}
.images li img{
    max-width: 100%;

}
section.join{
    background-color: #f4f4f4;
    text-align: center;
    padding: 60px 20px;
    color: #4b4b4b;
}
form input{
    font-size: 20px;
    padding: 10px 20px;
    margin: 20px 0;
    border-radius: 25px;
    border: 4px solid white;
}
footer{
    background-color: #f63232;
    text-align: center;
    padding: 5px;
    color: white;
}
.images li:hover{
    position: relative;
    top:-4px;
}
nav li a:hover{
    text-decoration: underline;
}
/*responsive styles*/

@media screen and (max-width: 1400px){
    .banner .welcome h2{
        font-size: 60px;
    }
    nav li{
        font-size: 18px
    }
}
@media screen and (max-width: 1100px){
    .banner .welcome h2{
        font-size: 40px;
    }
}

@media screen and (max-width: 960px){
    .banner .welcome{
        position: relative;
        text-align: center;
    }
    .banner .welcome br{
        display: none;
    }
    .banner .welcome h2{
        font-size: 40px;
    }
    .banner .welcome span{
        font-size: 40px;
    }
}
/* @media screen and (max-width: 850px){
    .banner .welcome{
        font-size: 20px;
    }
}           */

