* {
    box-sizing: border-box;
}
ul {
    margin: 0;
    padding: 0;
}
/* .container {
    width: 100%;
    display: flex;
    justify-content: space-between;
} */
#main-header {
    background-color: #f44336;
    padding: 30px 40px;
    color: white;
    text-align: center;
}

#main {
    border: 1px solid rgb(180, 180, 180);
    padding: 20px;
    margin-top: 20px;
}

/* .texting {
    margin: 0;
    border: none;
    border-radius: 0;
    width: 70%;
    padding: 10px;
    font-size: 16px;
    
} */
/* .btn {
    border: none;
    border-radius: 0;
    width: 25%;
    font-size: 16px;
    padding: 10px;
    background: #eee;
} */
form {
  display: flex;
  justify-content: space-between; /*pushes items left & right */
  align-items: center;
  
}

.texting {
  flex: 1;
  padding: 10px;
  font-size: 16px;              /* input takes remaining space */
}

.btn {
  flex-shrink: 0;       /* prevents button from shrinking */
padding: 10px;
font-size: 16px;
}

.list-group-item {
    
    list-style-type: none;
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    font-size: 18px;
    background: #eee;

}
.list-group-item:hover {
    background-color: #ddd;
}
/* .list-group-item:nth-child(odd) {
  background: #f9f9f9;
} */
.close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px 16px 12px 16px;
}